/* GENERAL */

:root {
  --clr-greenish: #3cb3ab;
  --clr-dark: #2f2f2f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Commissioner, sans-serif;
  background: #fafafa url(/assets/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: auto 25rem;
  background-position: center top;
}

@media screen and (min-width: 800px) {
  body {
    background: #fafafa url(/assets/image-hero-desktop.jpg);
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

img {
  display: block;
  max-width: 100%;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* NAVIGATION */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
}

.nav-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0.5em;
  display: block;
  margin-left: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 2em);
  background-color: white;
  width: 80%;
  border-radius: 0.5em;
  z-index: 100;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  color: black;
  display: block;
  padding: 1.5em;
  border-bottom: 1px solid rgba(46, 46, 46, 0.1);
}

.desktop-nav {
  display: none;
}

@media screen and (min-width: 800px) {
  .desktop-nav {
    display: block;
  }

  nav {
    position: unset;
    background-color: transparent;
  }

  nav ul {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    border-radius: unset;
    background-color: transparent;
  }

  nav a {
    color: white;
    padding: unset;
  }

  .nav-toggle {
    display: none;
  }
}

/* PROJECT MAIN */
.btn,
.enter-pledge .input-container .btn,
.success-modal .btn {
  display: block;
  cursor: pointer;
  font-family: Commissioner, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  border: 0;
}

.back-project-btn,
.enter-pledge .input-container .btn,
.success-modal .btn {
  background-color: var(--clr-greenish);
  color: white;
  border-radius: 2.094em;
  padding: 1.125em 2.563em;
  transition: all 0.2s ease-in;
}

.bookmark-btn {
  background: var(--clr-dark) url(assets/icon-bookmark.svg);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.back-project-btn:hover,
.back-project-btn:focus {
  background-color: #147a73;
}

.project-main {
  background-color: white;
  max-width: 80%;
  margin-inline: auto;
  margin-top: 12em;
  padding: 3em 1.5em 2.5em 1.5em;
  border-radius: 0.5em;
  text-align: center;
  position: relative;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.project-main .img-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-main .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.563em;
  margin-top: 1.5em;
}

@media screen and (min-width: 800px) {
  .project-main {
    max-width: 45.625rem;
  }

  .project-main .btn-container {
    justify-content: space-between;
    gap: unset;
    margin-top: 2.5em;
  }
}

/* PROJECT STATS */
.project-stats {
  background-color: white;
  max-width: 80%;
  margin-inline: auto;
  margin-top: 1.5em;
  border-radius: 0.5em;
  padding: 2em;
  text-align: center;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 0.563em;
  margin-bottom: 1.563em;
}

.stat:nth-of-type(1),
.stat:nth-of-type(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.stat h3 {
  color: #7a7a7a;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.563em;
}

.stat .statistic,
.reward-row .statistic,
.quantity {
  order: -1;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.progress-bar {
  width: 100%;
  height: 0.75rem;
  background-color: #f5f5f5;
  border-radius: 2.094em;
  position: relative;
}

.progress-bar::before {
  content: "";
  width: 75%;
  height: inherit;
  background-color: var(--clr-greenish);
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (min-width: 800px) {
  .project-stats {
    max-width: 45.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .stat {
    padding-inline: 4em;
    margin-bottom: 0;
    text-align: left;
  }

  .stat:nth-of-type(1),
  .stat:nth-of-type(2) {
    border-bottom: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }

  .progress-bar {
    margin-top: 2.313em;
  }
}

/* PROJECT ABOUT */
.about-project {
  background-color: white;
  max-width: 80%;
  margin-inline: auto;
  margin-top: 1.5em;
  border-radius: 0.5em;
  padding: 2.5em 1.5em;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
}

.about-project h2 {
  font-size: 1.125rem;
  font-weight: 700;
}

.project-description,
.pledge-description {
  color: #7a7a7a;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5em;
}

.reward {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  padding: 1.5em;
  margin-block: 1.5em;
}

.reward h3,
label {
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: black;
}

.reward-col {
  display: flex;
  flex-direction: column;
}

.reward-row {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0 auto;
}

.reward-row h4,
.quantity-row h4 {
  color: #7a7a7a;
  font-size: 0.875rem;
  font-weight: 400;
}

.reward .pledge,
.pledge-info {
  color: var(--clr-greenish);
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 0;
}

.reward-btn {
  display: block;
  cursor: pointer;
  font-family: Commissioner, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  border: 0;
  background-color: var(--clr-greenish);
  color: white;
  border-radius: 2.094em;
  padding: 1em 2em;
  margin-top: 2.125em;
  transition: all 0.2s ease-in;
}

.out-of-stock-btn {
  background-color: #2f2f2f;
}

.reward-disabled {
  opacity: 50%;
}

@media screen and (min-width: 800px) {
  .about-project {
    max-width: 45.625rem;
  }

  .reward-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .reward-row {
    margin: unset;
  }
}

/* BACK PROJECT MODAL */
.back-project {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  overflow-y: auto;
}

.modal-container,
.success-modal {
  max-width: 80%;
  margin-inline: auto;
  background-color: white;
  padding: 1.5em 2em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
  position: relative;
}

.modal-container .pledge {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  margin-block: 1.5em;
  padding: 1.5em 2em;
}

.modal-container .pledge-info {
  margin-bottom: 0;
  margin-top: 0.5em;
}

.pledge:last-of-type {
  opacity: 50%;
}

.pledge-row {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.close-modal-icon {
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
}

.quantity-row {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.enter-pledge {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
}

.enter-pledge .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.enter-pledge input {
  display: inline-block;
  border-radius: 2.094em;
  max-width: 6.25rem;
  height: 3.438rem;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
}

.success-modal {
  text-align: center;
  line-height: 1.5;
}

.success-modal img {
  margin: 0 auto;
}

.success-modal .btn {
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .modal-container,
  .success-modal {
    max-width: 45.625rem;
  }
}
