/* GENERAL */

:root {
  --clr-greenish: #3cb3ab;
  --clr-dark: #2f2f2f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Commissioner, sans-serif;
  background: #fafafa url(assets/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: auto 25rem;
  background-position: center top;
}

img {
  display: block;
  max-width: 100%;
}

/* NAVIGATION */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
}

.nav-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0.5em;
  display: block;
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 2em);
  background-color: white;
  width: 80%;
  border-radius: 0.5em;
  z-index: 100;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125rem;
  color: black;
  display: block;
  padding: 1.5em;
  border-bottom: 1px solid rgba(46, 46, 46, 0.1);
}

/* PROJECT MAIN */
.btn {
  display: block;
  cursor: pointer;
  font-family: Commissioner, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  border: 0;
}

.back-project-btn {
  background-color: var(--clr-greenish);
  color: white;
  border-radius: 2.094em;
  padding: 1.125em 2.563em;
  transition: all 0.2s ease-in;
}

.bookmark-btn {
  background: var(--clr-dark) url(assets/icon-bookmark.svg);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.back-project-btn:hover,
.back-project-btn:focus {
  background-color: #147a73;
}

.project-main {
  background-color: white;
  max-width: 80%;
  margin-inline: auto;
  margin-top: 12em;
  padding: 3em 1.5em 2.5em 1.5em;
  border-radius: 0.5em;
  text-align: center;
  position: relative;
}

.project-main .img-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-main .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.563em;
  margin-top: 1.5em;
}

@media screen and (min-width: 800px) {
  .project-main {
    max-width: 45.625rem;
  }
}
